
<form id="formAjouter" action = "http://127.0.0.1:8081/ajouter" method = "get">
<h1><%=__("Inscrivez-vous!") %></h1>
<label><%=__("prenom") %>:</label><input type = "text" name = "prenom">
 <label><%=__("nom") %>:</label><input type = "text" name = "nom">
 <label><%=__("telephone") %>:</label><input type = "text" name = "telephone">
  <label><%=__("email") %>:</label><input type = "text" name = "email">
 <input type = "submit" value =<%=__("ajouter") %>>
</form>